<div class='section-heading'>
  <h2>Movies With Great Reviews</h2>
</div>
<div class='display'>
  <div class='item'>
    <img src='/img/{{imgpath4}}' alt='{{alt4}}' />
    <div class='info'>
      <h3>They Live</h3>
      <span class='rating'>10.0</span>
      <p>They influence our decisions without us knowing it. They numb our
        senses without us feeling it. They control our lives without us
        realizing it. They live.
      </p>
    </div>
  </div>
  <div class='item'>
    <img src='/img/{{imgpath5}}' alt='{{alt5}}' />
    <div class='info'>
      <h3>The Professional</h3>
      <span class='rating'>10.0</span>
      <div class='over'>
        <p>12-year-old Mathilda is reluctantly taken in by Léon, a professional
          assassin, after her family is murdered. An unusual relationship forms
          as she becomes his protégée and learns the assassin's trade.
        </p>
      </div>
    </div>
  </div>
  <div class='item'>
    <img src='/img/{{imgpath6}}' alt='{{alt6}}' />
    <div class='info'>
      <h3>Pulp Fiction</h3>
      <span class='rating'>10.0</span>
      <div class='over'>
        <p>The lives of two mob hitmen, a boxer, a gangster and his wife, and a
          pair of diner bandits intertwine in four tales of violence and
          redemption.
        </p>
      </div>
    </div>
  </div>
</div>

{{> navigation }}