<h2 class="site-subheading">
  Welcome to Movie Port. Your number 1 place for movies and reviews!
</h2>
<div>
  <h3 class='section-heading'>Featured Movies</h3>
</div>
<div class='display'>
  <div class='item'>
    <img src='/img/{{imgpath1}}' alt='{{alt1}}' id='poster-1' />
    <div class='info'>
      <h3 id='Avatar'></h3>
      <span class='rating' id='rating-number-1'>7.6</span>
      <p>In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.</p>
    </div>
  </div>
  <div class='item'>
    <img src='/img/{{imgpath2}}' alt='{{alt2}}' id='poster-2' />
    <div class='info'>
      <h3 id='movie-title-2'>Blazing Saddles</h3>
      <span class='rating' id='rating-number-2'>7.3</span>
      <p>A town—where everyone seems to be named Johnson—stands in the way of the railroad. In order to grab their land, robber baron Hedley Lamarr sends his henchmen to make life in the town unbearable. After the sheriff is killed, the town demands a new sheriff from the Governor, so Hedley convinces him to send the town the first black sheriff in the west.</p>
    </div>
  </div>
  <div class='item'>
    <img src='/img/{{imgpath3}}' alt='{{alt3}}' id='poster-3' />
    <div class='info'>
      <h3 id='movie-title-3'>Castle in the Sky</h3>
      <span class='rating' id='rating-number-3'>8.0</span>
      <p>A young boy and a girl with a magic crystal must race against pirates and foreign agents in a search for a legendary floating castle.</p>
    </div>
  </div>
</div>

{{> navigation }}