<div>
<h2 class='section-heading'>Popular Movies</h2>
<div/>
<div class='display'>
  <div class='item'>
    <img src='./img/{{imgpath7}}' alt='{{alt7}}'/>
    <div class='info'>
      <h3>Bladerunner 2049</h3>
      <span class='rating'>9.1</span>
      <div class='over'>
        <p>Young Blade Runner K's discovery of a long-buried secret leads him to
          track down former Blade Runner Rick Deckard, who's been missing for
          thirty years.
        </p>
      </div>
    </div>
  </div>
  <div class='item'>
    <img src='./img/{{imgpath8}}' alt='{{alt8}}'/>
    <div class='info'>
      <h3>The Shawshank Redemption</h3>
      <span class='rating'>9.6</span>
      <div class='over'>
        <p>
          A Maine banker convicted of the murder of his wife and her lover in
          1947 gradually forms a friendship over a quarter century with a
          hardened convict, while maintaining his innocence and trying to remain
          hopeful through simple compassion.
        </p>
      </div>
    </div>
  </div>
  <div class='item'>
    <img src='./img/{{imgpath9}}' alt='{{alt9}}'/>
    <div class='info'>
      <h3>American Psycho</h3>
      <span class='rating'>9.7</span>
      <div class='over'>
        <p>
          A wealthy New York City investment banking executive, Patrick Bateman,
          hides his alternate psychopathic ego from his co-workers and friends
          as he delves deeper into his violent, hedonistic fantasies.
        </p>
      </div>
    </div>
  </div>
</div>

{{> navigation }}